.character-list-container {
  background-color: #1AFF9D;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
  font-family: 'Unica One', cursive;
}

.character-name-item {
  margin: 10px;
  border: none;
  background: none;
  height: 50px;
  font-size: 20px;
}

.character-name-item:hover {
  background-color: white;
}
