.first-fighter-box {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
  width: 100%;
  background-color: black;
}

.second-fighter-box {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: black;
}
